{% if LICENSE_YEAR is not defined %}{% if articles %}{% set LICENSE_YEAR = articles[0].date.strftime('%Y') %}{% else %}{% set LICENSE_YEAR = '' %}{% endif %}{% endif -%}
<footer id="footer" class="container">
  <hr />

  {% block footer %}
  <div class="row">
    <div class="col-xs-10">
      {% if FOOTER_PRE %}{{ FOOTER_PRE }}{% endif -%}
      &copy; <em>{{ LICENSE_YEAR }}</em> {% if AUTHOR_URL %}<a href="{{ AUTHOR_URL }}" rel="author">{{ AUTHOR }}</a>{% else %}{{ AUTHOR }}{% endif %}
      {%- if FOOTER_POST %}{{ FOOTER_POST }}{% else %} &middot; Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>, <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>, <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>{% endif %}

      {% if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
      {% from 'includes/cc-license.html' import cc_license_mark %}
      <p><small>{{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}</small></p>
      {% endif %}
    </div>
    <div class="col-xs-2">
      <p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p>
    </div>
  </div>
  {% endblock footer %}
</footer>