<header id="header" class="navbar navbar-fixed-top {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %}">
  <div class="container">
    {% block header %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ SITEURL }}/">
        {%- if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_WIDTH|default(SITELOGO_SIZE) }}" height="{{ SITELOGO_HEIGHT }}" alt="{{ SITENAME }}" />{% endif -%}
        {%- if not HIDE_SITENAME %}{{ SITENAME }}{% endif -%}
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for title, link in MENUITEMS %}
        <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages %}
        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
        {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
        {% for cat, arts in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat|capitalize }}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL|default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
      </ul>
    </div>
    {% endblock header %}
  </div>
</header>