{% if TWITTER_CARDS and USE_OPEN_GRAPH %}
    {# Do not include duplicates tag with og ones. #}
    {# Twitter is able to infer them from og. #}
    {% if article %}
    <!-- Twitter Cards tags -->
        <meta name="twitter:card" content="summary">
        {% if TWITTER_USERNAME %}
            <meta name="twitter:site" content="@{{ TWITTER_USERNAME }}">
            <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
        {% endif %}
        <meta name="twitter:domain" content="{{ SITEURL }}">
        {% if article.twitter_image %}
            <meta property="twitter:image"
                  content="{{ SITEURL }}/{{ article.twitter_image }}"/>
        {% elif OPEN_GRAPH_IMAGE %}
            <meta property="twitter:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% elif page %}       
        <!-- Twitter Cards tags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:domain" content="{{ SITEURL }}">
        <meta name="twitter:site" content="@{{ TWITTER_SITE or  TWITTER_USERNAME }}">
        <meta name="twitter:creator" content="@{{ TWITTER_USERNAME }}">
        {% if page.twitter_image %}
            <meta property="twitter:image"
                  content="{{ SITEURL }}/{{ page.twitter_image }}"/>
        {% elif OPEN_GRAPH_IMAGE %}
            <meta property="twitter:image"
                  content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
    {% endif %}
{% endif %}
