{% extends "base.html" %}

{% block head_title %}{{ TITLE_ARCHIVES|default('Archives') }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="active">{{ TITLE_ARCHIVES|default('Archives') }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_ARCHIVES|default('Archives') }}</h1>
{% endblock %}

{% block content %}
<dl>
  {% for article in dates %}
  <dt>{{ article.locale_date }}</dt>
  <dd><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a></dd>
  {% endfor %}
</dl>
{% endblock %}
