{% extends "base.html" %}

{% block head_title %}{{ TITLE_ARCHIVES|default('Archives') }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="active">{{ TITLE_ARCHIVES|default('Archives') }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_ARCHIVES|default('Archives') }}</h1>
{% endblock %}

{% block content %}
<div id="archives">
  {% for article in dates %}
  <p>
    <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
  </p>
  {% endfor %}
</div>
{% endblock %}
