{% extends "index.html" %}

{% block head_title %}{{ TITLE_AUTHOR_PRE|default('Articles by') }} {{ author|striptags }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li><a href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors.html') }}" title="{{ TITLE_AUTHORS|default('Authors') }}">{{ TITLE_AUTHORS|default('Authors') }}</a></li>
  <li class="active">{{ author }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_AUTHOR_PRE|default('Articles by') }} {{ author }}</h1>
{% endblock %}
