{% extends "base.html" %}

{% block head_title %}{{ TITLE_AUTHORS|default('Authors') }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="active">{{ TITLE_AUTHORS|default('Authors') }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_AUTHORS|default('Authors') }}</h1>
{% endblock %}

{% block content %}
{% import 'includes/accordion.html' as accordion with context %}
{{ accordion.accordion_for('authors', authors|sort) }}
{% endblock %}
