{% if DEFAULT_LANG is not defined %}{% set DEFAULT_LANG = 'en' %}{% endif -%}
{% if DEFAULT_CHARSET is not defined %}{% set DEFAULT_CHARSET = 'utf-8' %}{% endif -%}
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"{% if USE_OPEN_GRAPH %} xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"{% endif %}{% block html_extra %}{% endblock %}>
<head>
  <meta http-equiv="content-type" content="text/html; charset={{ DEFAULT_CHARSET }}" />
  <title>{% block head_title %}{{ SITENAME }}{% endblock %}</title>

{% block style_base %}{# Place for necessary styles of theme #}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.{% if BOOTSTRAP_THEME %}{{ BOOTSTRAP_THEME }}.{% endif %}min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
{% block style %}{# Place for optional styles not used everywhere #}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" />
{% if DOCUTIL_CSS %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/html4css1.css" />
{% endif %}
{% if TYPOGRIFY %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/typogrify.css" />
{% endif %}
{% if CUSTOM_CSS %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ CUSTOM_CSS }}" />
{% endif %}
{% endblock %}
{% endblock style_base %}

{% block head_base %}
{% block head_favicon %}{# Place for site icons #}
{% if SITEFAVICON or FAVICON %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/{{ SITEFAVICON|default(FAVICON) }}" />
{% endif %}
{% if SITETOUCHICON %}
  <link rel="apple-touch-icon" type="image/png" href="{{ SITEURL }}/{{ SITETOUCHICON }}" />
{% endif %}
{% endblock %}

{% block head_quirks %}{# Place for browser quirks and behaviour settings #}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--[if lt IE 9]>
  <script src="{{ SITEURL }}/theme/js/libs/html5shiv.js"></script>
  <script src="{{ SITEURL }}/theme/js/libs/respond.min.js"></script>
  <![endif]-->
{% endblock %}

{% block head_meta %}{# Place for general metadata #}
  <meta name="author" content="{{ AUTHOR }}{% if AUTHOR_URL %} [{{ AUTHOR_URL }}]{% endif %}{% if AUTHOR_EMAIL %} <{{ AUTHOR_EMAIL }}>{% endif %}" />
{% endblock %}

{% if USE_OPEN_GRAPH %}
{% block head_opengraph %}{# Place for Open graph protocol metadata #}
{% if OPEN_GRAPH_FB_APP_ID %}
  <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
{% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:description" content="{{ SITENAME }}" />
{% if OPEN_GRAPH_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}" />
{% endif %}
{% endblock %}
{% endif %}

{% block head_feeds %}{# Place for feeds and alternative links #}
{% if FEED_ALL_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} ATOM Feed" />
{% endif %}
{% if FEED_ALL_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
{% endif %}
{% endblock %}

{% block head_extra %}{% endblock %}
{% endblock head_base %}
</head>
<body class="{% block body_class %}archive{% endblock %}">

<div class="navbar {% if BOOTSTRAP_NAVBAR_INVERSE %}navbar-inverse{% else %}navbar-default{% endif %} navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ SITEURL }}/" class="navbar-brand">
                {% if SITELOGO %}<img src="{{ SITEURL }}/{{ SITELOGO }}" width="{{ SITELOGO_SIZE }}"/> {% endif %}
                {% if not HIDE_SITENAME %}{{ SITENAME }}{% endif %}
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in PAGES %}
                         <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">
                             {{ p.title }}
                          </a></li>
                      {% endfor %}
                {% endif %}
                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, null in categories %}
                        <li {% if cat == category %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}"><i class="fa fa-th-list"></i><span class="icon-label">Archives</span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div> <!-- /.navbar -->

<div class="container">
    <div class="row">
        {% if not HIDE_SIDEBAR or SHOW_ABOUTME %}
        <div class="col-sm-9">
        {% else %}
        <div class="col-lg-12">
        {% endif %}
        {% block breadcrumbs %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        </div>
	{% if ABOUT_ME %}
        <div class="col-sm-3" id="aboutme">
            {% include 'includes/aboutme.html' %}
        </div>
	{% endif %}
	{% if not HIDE_SIDEBAR %}
        <div class="col-sm-3 well well-sm" id="sidebar">
            {% include 'includes/sidebar.html' %}
        </div>
	{% endif %}
    </div>
</div>
{% include 'includes/footer.html' %}

<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>

{% include 'includes/github-js.html' %}
{% include 'includes/disqus_script.html' %}
{% include 'includes/ga.html' %}
{% include 'includes/piwik.html' %}
</body>
</html>
