{% if DEFAULT_LANG is not defined %}{% set DEFAULT_LANG = 'en' %}{% endif -%}
{% if DEFAULT_CHARSET is not defined %}{% set DEFAULT_CHARSET = 'utf-8' %}{% endif -%}
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}"{% if USE_OPEN_GRAPH %} xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml"{% endif %}{% block html_extra %}{% endblock %}>
<head>
  <meta http-equiv="content-type" content="text/html; charset={{ DEFAULT_CHARSET }}" />
  <title>{% block head_title %}{{ SITENAME }}{% endblock %}</title>

  {% block style_base %}
  {### Place for essential styles of theme ###}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/bootstrap.{% if BOOTSTRAP_THEME %}{{ BOOTSTRAP_THEME }}.{% endif %}min.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
  {% block style %}
  {### Place for optional styles not used everywhere ###}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" />
  {% if DOCUTIL_CSS %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/html4css1.css" />
  {% endif %}
  {% if TYPOGRIFY %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/typogrify.css" />
  {% endif %}
  {% if CUSTOM_CSS %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ CUSTOM_CSS }}" />
  {% endif %}
  {% endblock %}
  {% endblock style_base %}

  {% block head_base %}
  {% block head_favicon %}
  {### Place for site icons ###}
  {% if SITEFAVICON or FAVICON %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/{{ SITEFAVICON|default(FAVICON) }}" />
  {% endif %}
  {% if SITETOUCHICON %}
  <link rel="apple-touch-icon" type="image/png" href="{{ SITEURL }}/{{ SITETOUCHICON }}" />
  {% endif %}
  {% endblock %}

  {% block head_quirks %}
  {### Place for browser quirks and behaviour settings ###}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--[if lt IE 9]>
  <script src="{{ SITEURL }}/theme/js/libs/html5shiv.js"></script>
  <script src="{{ SITEURL }}/theme/js/libs/respond.min.js"></script>
  <![endif]-->
  {% endblock %}

  {% block head_meta %}
  {### Place for general metadata ###}
  <meta name="author" content="{{ AUTHOR }}{% if AUTHOR_URL %} [{{ AUTHOR_URL }}]{% endif %}{% if AUTHOR_EMAIL %} <{{ AUTHOR_EMAIL }}>{% endif %}" />
  {% endblock %}

  {% if USE_OPEN_GRAPH %}
  {% block head_opengraph %}
  {### Place for Open graph protocol metadata ###}
  {% if OPEN_GRAPH_FB_APP_ID %}
  <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:description" content="{{ SITENAME }}" />
  {% if OPEN_GRAPH_IMAGE %}
  <meta property="og:image" content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}" />
  {% endif %}
  {% endblock %}
  {% endif %}

  {% block head_feeds %}
  {### Place for feeds and alternative links ###}
  {% if FEED_ALL_ATOM %}
  <link rel="alternate" type="application/atom+xml" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} ATOM Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link rel="alternate" type="application/rss+xml" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% endblock %}

  {% block head_extra %}{% endblock %}
  {% endblock head_base %}
</head>
<body class="{% block body_class %}archive{% endblock %}">

{% block header_base %}
{% include 'includes/header.html' %}
{% endblock header_base %}

{% block layout %}
<article>

<div class="main container">
  <div class="row">
    <div class="{% if not HIDE_SIDEBAR or SHOW_ABOUTME %}col-sm-9{% else %}col-lg-12{% endif %}">

      {% if DISPLAY_BREADCRUMBS %}
      {% block breadcrumbs %}{% endblock %}
      {% endif %}

      {% block title_base %}
      <header id="title" class="entry-title page-header">

        {% block title %}
        <h1 class="entry-title">{{ SITENAME }}</h1>
        {% endblock %}

      </header>
      {% endblock title_base %}

      {% block content_base %}
      <div id="content" class="entry-content">

        {% block content %}Sorry, but the content is not yet ready.{% endblock %}
        {% block content_extra %}{% endblock %}

      </div>
      {% endblock %}
    </div>

    {% block sidebar %}
    {% if ABOUT_ME %}
    <div class="col-sm-3" id="aboutme">

      {% include 'includes/aboutme.html' %}

    </div>
    {% endif %}
    {% if not HIDE_SIDEBAR %}
    <div class="col-sm-3 well well-sm" id="sidebar">

      {% include 'includes/sidebar.html' %}

    </div>
    {% endif %}
    {% endblock %}
  </div>
</div>

</article>
{% endblock layout %}

{% block footer_base %}
{% include 'includes/footer.html' %}
{% endblock footer_base %}

{% block script_base %}
{### Place for essential scripts of theme ###}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="{{ SITEURL }}/theme/js/jquery.min.js">\x3C/script>')</script>

{% block script_bootstrap %}
{### Place for Bootstrap plugins ###}
<script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
{% endblock script_bootstrap %}

{% block script %}
{### Place for optional scripts ###}
{% include 'includes/github-js.html' %}
{% include 'includes/disqus_script.html' %}
{% include 'includes/ga.html' %}
{% include 'includes/piwik.html' %}
{% endblock script %}
{% endblock script_base %}
</body>
</html>
