{% extends "base.html" %}

{% block head_title %}{{ TITLE_CATEGORIES|default('Categories') }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="active">{{ TITLE_CATEGORIES|default('Categories') }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_CATEGORIES|default('Categories') }}</h1>
{% endblock %}

{% block content %}
<div class="panel-group" id="accordion">
  {% for cat, arts in categories|sort %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ cat.slug }}">{{ cat }} <span class="badge pull-right">{{ arts|count }}</span></a>
      </h4>
    </div>
    <div id="collapse-{{ cat.slug }}" class="panel-collapse collapse">
      <div class="panel-body">
        {% for article in arts %}
        <p>
          <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
