{% extends "index.html" %}

{% block head_title %}{{ TITLE_CATEGORY_PRE|default('Category') }} {{ category|striptags }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li><a href="{{ SITEURL}}/{{ CATEGORIES_URL }}" title="{{ SITENAME }} {{ TITLE_CATEGORIES|default('Categories') }}">{{ TITLE_CATEGORIES|default('Categories') }}</a></li>
  <li class="active">{{ category }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_CATEGORY_PRE|default('Category') }} {{ category }}</h1>
{% endblock %}
