{% extends "base.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block head_title %}{{ page.title|striptags }}{% if page.subtitle %} - {{ page.subtitle|striptags }}{% endif %} @ {{ SITENAME }}{% endblock %}

{% block head_meta %}
{{- super() -}}
  {% if page.summary %}
  <meta name="description" content="{{ page.summary|striptags }}" />
  {% endif %}
{% endblock %}

{% block head_opengraph %}
  {% if OPEN_GRAPH_FB_APP_ID %}
  <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
  <meta property="og:description" content="{{ page.summary|striptags }}" />
{% endblock %}

{% block body_class %}page{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li class="active">{{ page.title }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>
  <a href="{{ SITEURL }}/{{ page.url }}" title="Permalink to {{ page.title|striptags }}" rel="bookmark">{{ page.title }}</a>
</h1>
{% if page.subtitle %}
<h2>{{ page.subtitle }}</h2>
{% endif %}
{% if page.translations or PDF_PROCESSOR %}
<div class="panel">
  <div class="panel-body">
    {% if PDF_PROCESSOR %}
    <span class="label label-default">
      <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">as PDF</a>
    </span>
    {% endif %}
    {% import 'includes/translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{{- page.content -}}
{% endblock %}

{% block content_extra %}
{% if page.comments == 'enabled' %}
{% include 'includes/comments.html' %}
{% endif %}
{% endblock %}
