{% extends "base.html" %}
{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock %}

{% set TWITTER_CARDS_VISIBLE = True %}

    {% block twitter_cards %}
            {% if page.twitterimage or FAVICON %}
            <!-- Twitter Cards tags -->
            <meta property="twitter:card" content="summary" />
            <meta property="twitter:site" content="@{{ TWITTER_CARDS_USERNAME }}" />
            <meta property="twitter:creator" content="@{{ TWITTER_CARDS_USERNAME }}" />
            <meta property="twitter:domain" content="{{ SITEURL }}" />
            <meta property="twitter:title" content="{{ page.title|striptags }}" />
            <meta property="twitter:description" content="{{ page.summary|striptags|escape }}" />
            <meta property="twitter:url" content="{{ SITEURL }}/{{ page.url }}" />
            <meta property="twitter:image" content="{{ SITEURL }}/{{ page.twitterimage or FAVICON }}" />
            {% endif %}
        {% endif %}
    {% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
	  {% if page.url %}
        <li class="active">{{ page.title }}</li>
	  {% endif %}
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content" class="body">
        <h1 class="entry-title">{{ page.title }}</h1>
        {% import 'includes/translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {% if PDF_PROCESSOR %}
            <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
                get the pdf
            </a>
        {% endif %}
        <div class="entry-content">
            {{ page.content }}
            {% if page.comments == 'enabled' %}
                {% include 'includes/comments.html' %}
            {% endif %}
        </div>
    </section>
{% endblock %}
