{% extends 'base.html' %}

{% block title %}
Search - {{ super() }}
{% endblock %}

{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    {% if 'assets' in PLUGINS %}
    {% include '_includes/minify_tipuesearch.html' with context %}
    {% else %}
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_content.js"></script>
    <link href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css" rel="stylesheet">
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
    {% endif %}
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
        'show': 10,
        'newWindow': false,
        'contentLocation': 'tipuesearch_content.json'
      });
    });
    </script>
{% endblock %}

{% block content %}
<div id="tipue_search_content"></div>
{% endblock %}
