{% extends "index.html" %}

{% block head_title %}{{ TITLE_TAG_PRE|default('Tag') }} {{ tag|striptags }} @ {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
  <li><a href="{{ SITEURL }}/{{ TAGS_URL }}" title="{{ TITLE_TAGS|default('Tags') }}">{{ TITLE_TAGS|default('Tags') }}</a></li>
  <li class="active">{{ tag }}</li>
</ol>
{% endblock %}

{% block title %}
<h1>{{ TITLE_TAG_PRE|default('Tag') }} {{ tag }}</h1>
{% endblock %}
